.login {
	width: 100vw;

	.logo {
		width: 60%;

		img {
			width: 50%;
		}
	}

	.card-main {
		width: 30vw;
		height: 65vh;
		overflow-y: auto;
		margin: auto;
		background: unset;

		@include mobile {
			width: 100vw;
			height: 100vh;
			border-radius: 0;
		}

		@include tablet-only {
			width: 60vw;
			height: 65vh;
		}

		.card-content {
			margin-top: 3rem;
			background: white;

			@include mobile {
				overflow-y: auto;
				height: 95vh;
			}

			.form {
				width: 100%;
				margin: 0;
				padding-top: 2rem;

				.field {
					margin-right: auto;
					margin-left: auto;
				}
			}
		}
	}

	.modal-card {
		border-radius: 1rem;
	}
}
