.signup {
	.logo {
		width: 70%;

		img {
			width: 50%;
		}
	}

	.card-main {
		width: 50vw;
		height: 90vh;
		overflow-y: auto;

		@include mobile {
			width: 100vw;
			height: 100vh;
			border-radius: 0;
		}

		@include tablet-only {
			width: 70vw;
			height: 90vh;
		}

		.card-content {
			@include mobile {
				overflow-y: auto;
				height: 95vh;
			}

			.form {
				width: 70%;
				margin: auto;
				padding-top: 2rem;

				@include mobile {
					width: 90%;
				}

				.card-content {
					height: unset !important;
				}
			}
		}
	}
}
