<section class="hero ">
	<div class="hero-body">
		<div class="container">
			<section id="about" class="section">
				<div class="columns">
					<div class="column about-image">
						{{#image_src 'image4.jpg' 'image4'}}{{/image_src}}
					</div>
					<div class="column is-6">
						<div class="content is-medium has-text-centered">
							<h1 class="title">{{ about.a }}</h1>
						</div>
						<div class="content is-medium has-text-justified">
							{{#each about.b}}
							<p>
								{{ this }}
							</p>
							{{/each}}
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
