<section class="hero ">
	<div class="hero-body">
		<div class="container">
			<section class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title">About</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam nisi autem aliquam, nemo
								aliquid repudiandae atque ipsam consequuntur doloribus ducimus voluptatem ab vitae
								similique odio fugit dolores illo suscipit odit.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
