<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			{{#page '' 'DigitalTrust' '' 'navbar-item title title-page has-text-primary' }}{{/page}}
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu">
			<div class="navbar-end">
				<a target="" href="/app" class="navbar-item is-size-5 login" id="">{{ navbar.url.a5 }}</a>
			</div>
		</div>
	</div>
</nav>
