<footer class="footer is-primary">
	<div class="content has-text-left">
		<p class="title title-page has-text-white">
			{{#image_src 'logo.png' 'logo-footer'}}{{/image_src}}
		</p>
		<p class="description">
			{{ footer.a }}
		</p>

		<div class="security has-text-left">
			<p>{{ footer.b }}</p>
			<i class="fab fa-expeditedssl"></i>
			<i class="fab fa-cc-visa"></i>
			<i class="fab fa-cc-mastercard"></i>
			<i class="fab fa-cc-amex"></i>
			<i class="fab fa-btc"></i>
		</div>


		<div class="social has-text-left">
			<p>{{ footer.c }}</p>
			<a href="https://www.instagram.com/digitaltrustinvestment/" target="_blank">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://www.facebook.com/Digital-Trust-Investment-Corp-110121507898921" target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="https://twitter.com/DigitalTrust4" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
		</div>

		<p class="description">
			© 2021 - DT Investments {{ footer.d }}
		</p>
	</div>
</footer>
