<footer class="footer is-primary">
	<div class="content has-text-left">
		<p class="title title-page has-text-white">
			{{ title }}
		</p>
		<p class="description">
			Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online
			for everyone
		</p>
		<p class="description">
			© 2021 - DT Investments Todos los derechos reservados
		</p>


	</div>
</footer>
