<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			{{#page '' '@title' '' 'navbar-item title title-page has-text-white' }}{{/page}}
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu">
			<div class="navbar-end">
				<a href="{{ i18n_to }}/help" class="navbar-item is-size-5" id="">{{ navbar.url.a5 }}</a>
				<a target="_blank" href="/app/login?i18n={{ i18n }}" class="navbar-item is-size-5 login" id="">
					{{ navbar.url.a7 }} <i class="fas fa-sign-in-alt icon-margin"></i>
				</a>
			</div>
		</div>
	</div>
</nav>
