<section class="hero ">
	<div class="hero-body">
		<div class="container">

			<section id="info" class="section">
				<div class="columns">
					<div class="column is-5">
						<div class="content">
							<h1 class="title is-2 has-text-left title-info">
								Haga crecer su dinero de forma segura
							</h1>
							<p class="has-text-left subtitle-info">
								Convierta su inversión en ganancias pasivas, haga que el dinero trabaje
								para usted.
							</p>
							<a href="#services" class="button is-primary is-rounded">Membresías </a>
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image1.jpg' 'image1'}}{{/image_src}}
					</div>
				</div>
			</section>

			<div class="is-divider"></div>

			<section id="service" class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title-underline">Nuestros servicios</h1>
							<p class="subtitle-service">Tenemos algunas membresías para que usted comience a invertir
							</p>
						</div>
					</div>
				</div>
			</section>

			<div class="is-divider"></div>

			<section id="service_info" class="section">
				<div class="columns">
					<div class="column is-5">
						{{#image_src 'imagen2.jpg' 'image2'}}{{/image_src}}
					</div>
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">Servicio Confiable</h1>
							</p>
							<ul class="has-text-left has-text-gray">
								<li>
									Sus ganancias son acreditadas automáticamente cada 24h en su cuenta DigitalTrust
								</li>
								<li>
									No dude en contactar con nuestro equipo de soporte, sus consultas y solicitudes son
									atendidas puntualmente.
								</li>
								<li>
									Usted puede retirar sus ganancias en cualquier momento las cuales son enviadas a un
									monedero externo en un máximo de una semana.
								</li>
							</ul>
						</div>
					</div>
				</div>
		</div>
</section>

<div class="is-divider"></div>

<section id="service_what" class="section">
	<div class="columns">
		<div class="column is-8 is-offset-2">
			<div class="content is-medium">
				<h1 class="title-underline">¿Cómo invertir?</h1>
				<p class="subtitle-service">Tenemos algunas membresías para que usted comience a invertir
				</p>
			</div>
		</div>
	</div>
</section>

<div class="is-divider"></div>

<section id="fqa" class="section">
	<div class="columns">
		<div class="column is-8 is-offset-2">
			<div class="content is-medium">
				<h1 class="title-underline">Preguntas frecuentes</h1>
				<p class="subtitle-service">Tenemos algunas membresías para que usted comience a invertir
				</p>
			</div>
		</div>
	</div>
</section>

<div class="is-divider"></div>

<section id="contact" class="section">
	<div class="columns">
		<div class="column is-8 is-offset-2">
			<div class="content is-medium">
				<h1 class="title-underline">Contactenos</h1>
				<p class="subtitle-service">Tenemos algunas membresías para que usted comience a invertir
				</p>
			</div>
		</div>
	</div>
</section>

</div>
</div>
</section>
<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<strong>Kirsch Template</strong> by <a href="">Xavier Méndez</a>. Art design based on the
			<a target="_blank" href="https://bulmatemplates.github.io/bulma-templates/templates/blog-tailsaw.html">Blog
				2 by gonzalojs</a>. The source code is licensed
			<a target="_blank" href="https://opensource.org/licenses/ISC">ISC</a>
		</p>
	</div>
</footer>
