<!-- TradingView Widget BEGIN -->
<div class='tradingview-widget-container'>
	<div class='tradingview-widget-container__widget'></div>
	<div class='tradingview-widget-copyright'>
		<a href='https://es.tradingview.com' rel='noopener' target='_blank'>
			<span class='blue-text'>
				Bitcoin
			</span>
		</a>

		<span class='blue-text'>
			y
		</span>

		<a href='https://es.tradingview.com' rel='noopener' target='_blank'>
			<span class='blue-text'>
				Ethereum
			</span>
		</a>
		por TradingView
	</div>
	<script
		type='text/javascript'
		src='https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js'
		async
	>
		{
  "colorTheme": "dark",
  "dateRange": "12M",
  "showChart": true,
  "locale": "es",
  "width": "100%",
  "height": "100%",
  "largeChartUrl": "",
  "isTransparent": true,
  "showSymbolLogo": true,
  "plotLineColorGrowing": "white",
  "plotLineColorFalling": "white",
  "gridLineColor": "white",
  "scaleFontColor": "white",
  "belowLineFillColorGrowing": "#eaecee2b",
  "belowLineFillColorGrowingBottom": "#eaecee2b",
  "belowLineFillColorFalling": "white",
  "belowLineFillColorFallingBottom": "white",
  "symbolActiveColor": "#eaecee2b",
  "tabs": [
    {
      "title": "Vista General",
      "symbols": [
        {
          "s": "BYBIT:BTCUSD",
          "d": "BITCOIN / U.S. DOLLAR"
        },
        {
          "s": "KRAKEN:ETHUSD",
          "d": "ETHEREUM / U.S. DOLLAR"
        },
        {
          "s": "BITKUB:USDTTHB",
          "d": "TETHER / U.S. DOLLAR"
        }
      ],
      "originalTitle": "Indices"
    },
    {
      "title": "Bitcoin",
      "symbols": [
        {
          "s": "BYBIT:BTCUSD",
          "d": "BITCOIN / U.S. DOLLAR"
        }
      ]
    },
    {
      "title": "Ethereum",
      "symbols": [
        {
          "s": "KRAKEN:ETHUSD",
          "d": "ETHEREUM / U.S. DOLLAR"
        }
      ]
    },
    {
      "title": "Tether",
      "symbols": [
        {
          "s": "BITKUB:USDTTHB",
          "d": "TETHER / U.S. DOLLAR"
        }
      ]
    }
  ]
}
	</script>
</div>
<!-- TradingView Widget END -->
