<section class="hero ">
	<div class="hero-body">
		<div class="container secundary">
			<section>
				<div class="columns">
					<div class="column is-6">
						<div class="content is-medium has-text-centered">
							<h1 class="title has-text-black">{{ about.c }}</h1>
						</div>
						<div class="content is-medium has-text-justified has-text-gray">
							{{#each about.d}}
							<p>
								{{ this }}
							</p>
							{{/each}}
						</div>
					</div>
					<div class="column about-image">
						{{> tradingview }}
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
