<footer class="site-footer">
	<div class="container">
		<div class="site-footer-inner has-top-divider">
			<div class="brand footer-brand">
				<img src="assets/images/logo-digitalgroup.png" alt="DigitalGroup">
				<ul class="footer-social-links footer-cards is-hidden-mobile">
					<li><i class='fab fa-expeditedssl '></i></li>
					<li><i class='fab fa-cc-visa '></i></li>
					<li><i class='fab fa-cc-mastercard '></i></li>
					<li><i class='fab fa-cc-amex '></i></li>
					<li><i class='fab fa-cc-paypal '></i></li>
					<li><i class='fab fa-cc-stripe '></i></li>
					<li><i class='fab fa-btc '></i></li>
				</ul>
			</div>
			<div class="footer-copyright">
				<ul class="footer-links list-reset">
					<li>
						&copy; 2021 DigitalTrust Company LLC,
						<p>
							<a href='/dt_app/doc0.pdf' target='_blank'>
								Document number of this company is L21000348204
							</a>
							-
							<a href='/dt_app/doc1.pdf' target='_blank'>
								Privacy Policy
							</a>
							-
							<a href='/dt_app/doc2.pdf' target='_blank'>
								Legal Terms and Conditions
							</a>
						</p>
					</li>
				</ul>
				<ul class="footer-social-links list-reset">
					<li>
						<a href='https://www.instagram.com/digitaltrustonline/' target='_blank'>
							<span class="has-text-white">Instagram</span>
							<i class='fab fa-instagram'></i>
						</a>
					</li>
					<li>
						<a href='https://www.facebook.com/Digital-Trust-Investment-Corp-110121507898921'
							target='_blank'>
							<span class="has-text-white">Facebook</span>
							<i class='fab fa-facebook-f'></i>
						</a>
					</li>
					<li>
						<a href='https://twitter.com/DAnalitics' target='_blank'>
							<span class="has-text-white">Twitter</span>
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
