<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta http-equiv='X-UA-Compatible' content='ie=edge' />
<title>
	{{title}}
</title>
<link rel='icon' href='/assets/images/favicon.ico' />
<link rel='preconnect' href='https://fonts.gstatic.com' />
<script type='text/javascript' src='/node_modules/bulma-accordion/dist/js/bulma-accordion.min.js'></script>
<script defer src='/node_modules/@fortawesome/js/brands.js'></script>
<script defer src='/node_modules/@fortawesome/js/solid.js'></script>
<script defer src='/node_modules/@fortawesome/js/fontawesome.js'></script>

{{#style}}{{/style}}
{{#script}}{{/script}}
