div[class^='points_'] {
	opacity: 0.5;
	position: absolute;
	overflow: hidden;
}

div[class^='cloud_svg_'] {
	opacity: 0.7;
	z-index: -1;
	position: absolute;
	overflow: hidden;
}

.points_1 {
	top: 5rem;
	left: -10rem;
}

.points_2 {
	bottom: 15rem;
	left: calc(40vw - 10rem);
}

.points_3 {
	top: 10rem;
	right: calc(5vw);
}

.points_4 {
	bottom: 15rem;
	left: 10rem;
	z-index: -1;
}

.points_5 {
	top: 35rem;
	right: -2rem;
	z-index: -1;
}

.points_6 {
	top: 1rem;
	left: -1rem;
}

.points_7 {
	bottom: -2rem;
	right: -6rem;
}

.points_8 {
	@include mobile {
		top: 8rem;
		right: 3rem;
	}

	@include tablet {
		top: 2rem;
		left: calc(47vw - 10rem);
	}
}

.points_9 {
	top: 15rem;
	right: 0;
}

.points_10 {
	bottom: 10rem;
	left: 0;
}

.points_11 {
	top: 20rem;
	left: 5rem;
}

.points_12 {
	bottom: 10rem;
	right: 20rem;
}

.cloud_svg_1 {
	top: 15rem;
	left: -40rem;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.cloud_svg_2 {
	bottom: -6rem;
	left: -42rem;
}

.cloud_svg_3 {
	top: 15rem;
	right: -30rem;
	transform: matrix(1, 0.04, 0.04, -1, 0, 0);
}
