<!DOCTYPE html>
<html lang="en">

<head>
	{{> header }}
	<link href="/node_modules/video.js/dist/video-js.min.css" rel="stylesheet" />
</head>

<body>
	{{> index_navbar }}
	{{> index_body }}
	{{> footer }}
	{{> wbutton }}
</body>

</html>
