<!DOCTYPE html>
<html lang="en">

<head>
	{{> header }}
	<script src="/node_modules/@glidejs/dist/glide.min.js"></script>
</head>

<body>
	{{> index_navbar }}
	{{> index_body }}
	{{!-- {{> footer }} --}}
	{{> wbutton }}
</body>

</html>
