<!DOCTYPE html>
<html lang="en">

<head>
	{{> header }}
	<script type='text/javascript' src="/node_modules/simplecountdown/dist/countDown.min.js"></script>
	<link href="/node_modules/simplecountdown/dist/countDown.min.css" rel="stylesheet" />
</head>

<body>
	{{> price_navbar }}
	{{> price_body }}
	{{> footer }}
	{{> wbutton }}
</body>

</html>
