<!DOCTYPE html>
<html lang="en">

<head>
	{{> header }}
	<script defer src='/node_modules/d3/dist/d3.min.js'></script>
	<script src="/node_modules/@glidejs/dist/glide.min.js"></script>
</head>

<body>
	{{> index_navbar }}
	{{> index_body }}
	{{> footer }}
	{{> wbutton }}
</body>

</html>
