<section id="about" class="section">
	<div class="content has-text-centered">
		<video id="aboutmp4" class="video-js vjs-default-skin" src="/assets/images/about.mp4" width="640" height="264">
		</video>
		{{#image_src 'about.jpeg' 'background'}}{{/image_src}}
		<div class="over"></div>
		<div class="page-title" data-aos="slide-right">
			<h1>
				Sobre nosotros
			</h1>
			<p>
				Somos una escuela de trading, enfocados en romper mitos demostrando a nuestros estudiantes cuentas
				reales generando más de un 30% a un 40% de rendimiento semanal. Conjuntamente gracias a las ganancias
				obtenidas dentro del comercio del mercado de las divisas, comerciamos VENTA y COMPRA de criptomonedas.
				Buscamos que cada uno de nuestros estudiantes aprendan desde lo más básico hasta lo mas avanzado del
				trading y su psicología para que puedan tomar decisiones ganadoras así teniendo su propia gestión de
				fondos.
			</p>
			<h1>
				Nuestra misión
			</h1>
			<p>
				Ayudar a millones de personas en todo Latinoamérica a generar ingresos propios desde sus teléfonos y con
				un computador. Hoy estamos en la nueva era y debemos demostrar la manera de como generar ingresos
				residuales, para poder vivir un mejor estilo de vida y mejorar la economía de nuestras familias.
				Diversifique su portafolio de inversión con las Criptomonedas, donde le ayudamos hacer efectivas sus
				ganancias de sus diferentes portafolios de inversión con la Compra y Venta. Buscando posicionarnos como
				los numero uno en todo Latinoamérica.
			</p>
		</div>
		<script src="/node_modules/video.js/dist/video.min.js"></script>
		<script>
			AOS.init({
				duration: 1200,
			});
			videojs('aboutmp4', {
				controls: false,
				loop: true,
				autoplay: true,
				muted: true,
				preload: true,
				fluid: true
			});
		</script>
	</div>
</section>

<section id="about-main" class='hero'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column is-7 about-text-main">
					<h1 class="title has-text-primary">Nuestro profesor</h1>
					<p class="has-text-primary has-text-justified">
						Eric Villanueva de San José, Costa Rica, cuya profesión antes de iniciar en el mundo del trading
						y aprender todo sobre el mundo financiero, estudio y trabajo como entrenador personal y como
						Nutricionista deportivo representando su propia marca Villanueva.life Fitness y Nutricion.
						Mientras trabajaba en dicha profesión, en sus tiempos libres estudiaba todo sobre los mercados
						financieros, para poder especializarse en la materia, esto con un gran enfoque, disciplina y
						mucha dedicación.
						<br>
						<br>
						En uno de sus viajes a New York en el año 2015 conoce todo sobre la bolsa de valores y el mundo
						financiero, donde le hablaron de cómo poder generar ingresos residuales por medio de un broker o
						plataformas como MetaTrader4, y no solamente eso, le dio tanta curiosidad que empezó averiguar
						sobre personas que se dedicaran a dicha profesión y lograran vivir de ese mundo.
						<br>
						<br>
						Al tener tanta curiosidad empezó a navegar sobre ese mundo para ver resultados de otros traders,
						la cual generaban grandes resultados en cuentas de más de 5, 6 y 7 cifras dándose un gran estilo
						de vida. Ha tenido en el paso de todos estos años varios referentes que lo han motivado a ser un
						trader rentable.
						<br>
						<br>
						Durante el año 2015 al conocer a varios referentes de la materia, pago tutores en Alemania,
						Europa, Estados Unidos, Londres y Perú, de las cuales aprendió un poco de cada uno de ellos,
						enfocándose en mejorar su técnica de análisis, y de pasar a verlo complicado, a poder trabajarlo
						de una forma simple y básica.
					</p>
				</div>
				<div class="column">
					{{#image_src 'teacher.jpeg' '' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>
			<div class="columns">
				<div class="column">
					{{#image_src 'learn_1.png' '' '' 'slide-up'}}{{/image_src}}
				</div>
				<div class="column is-6 about-text-main">
					<p class="has-text-primary has-text-justified">
						En el plazo de estos 6 años compró libros que le detallaran más detalladamente sobre la teoría
						para poder realizar análisis más exactos, y dentro del proceso empezó a trabajar su psicología
						para no verse afectado por los mercados. La cual muchos de estos libros serán compartidos a mis
						alumnos dentro de la academia.
						<br>
						<br>
						Su inversión para lograr ser hoy un excelente trader fue de más de 5 cifras en la cual, nunca
						tuve miedo de invertir para aprender esta gran habilidad, donde siempre supe en todos estos
						años, que esto me iba generar grandes rendimientos monetarios. Por eso mi consejo es; el miedo
						es lo que nos lleva a salir de la zona de confort, ya que siempre quise mejorar mis ingresos
						todos los meses de tal manera que no dependiera de salarios o terceras personas, por eso hoy
						puedo manejar un gran fondo de inversión con rentabilidades muy buenas.
						<br>
						<br>
						En el año 2022, he tomado la decisión de poder enseñar mis habilidades, conocimientos,
						experiencia y resultados a personas que quieran conocer sobre este mundo, la realidad, y con la
						máxima transparencia posible.
						<br>
						<br>
						Tome la decisión de mejorar la economía de muchas familias o personas que quieran enfocarse en
						ser no solamente comerciantes rentables sino también en motivarlos a lograrlo. Que ustedes sean
						resultado y testimonio de todos mis años de estudio y experiencia en este mundo, y así sean
						referencia de mi Academia de Forex y Criptomonedas.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="about-card" class="section">
	<h2 class="title-underline">¿Qué obtendrás?</h2>

	<div class="columns">
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-right">
				<div class="card-content">
					<div class="content">
						Análisis de preparación de mercado semanal e ideas comerciales
						<br>
						Nuestras propias alertas de análisis y operaciones
					</div>
				</div>
			</div>
		</div>
		<div class="column"></div>
	</div>

	<div class="columns">
		<div class="column"></div>
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-up">
				<div class="card-content">
					<div class="content">
						Actualizaciones comerciales
						<br>
						Pdf educativos y biblioteca comercial descargable
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="columns">
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-right">
				<div class="card-content">
					<div class="content">
						Puestos educativos
						<br>
						Consejos psicológicos
					</div>
				</div>
			</div>
		</div>
		<div class="column"></div>
	</div>

	<div class="columns">
		<div class="column"></div>
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-up">
				<div class="card-content">
					<div class="content">
						Videos educativos
						<br>
						Actualizaciones fundamentales
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
