<script>
	AOS.init({
		duration: 1200,
	});

</script>

<section class='hero about-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns reverse-mobile">
				<div class="column is-6 about-text-main" data-aos="zoom-in">
					<p class="title has-text-primary has-text-weight-bold mt-1 mb-1">Nuestro Trader</p>
					<p class="has-text-secundary has-text-justified mt-6">
						Mi nombre es Eric Villanueva, nací en la ciudad de San José, Costa Rica y he vivido toda mi vida
						aquí. Siempre me resultó interesante el mercado financiero pero al tener que valerme por mi
						mismo comencé a hacerlo como entrenador personal y nutricionista deportivo, era un mundo en el
						que siempre había estado y la verdad es que se me da bien. <br>
						A pesar de tener una profesión y un trabajo al que dedicarme, mi curiosidad por las finanzas no
						cesó, por lo que decidí también estudiar los mercados para poder especializarme en la materia,
						siempre con un gran enfoque, disciplina y mucha dedicación.En el 2015 realicé un viaje a Nueva
						York en el que conocí la bolsa de valores y todo lo relacionado con ella y el mundo financiero;
						me hablaron acerca de cómo poder generar ingresos pasivos por medio de un broker o plataformas
						como MetaTrader 4. <br>
						Toda esta información no hizo más que alimentar aquella curiosidad que me venía persiguiendo
						hacía años, por lo que empecé a averiguar sobre personas que se dedicaran a operar en el mercado
						y vivieran de ello. Me adentré en ese universo, busqué resultados de otros traders que hubieran
						tenido éxito en cuentas de más de 6 cifras, pudiendo así generar un excelente estilo de
						vida.<br>
					</p>
				</div>
				<div class="column">
					{{#image_src 'teacher_new.jpeg' 'teacher' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>

			<div class="message" data-aos="zoom-in">
				<p><i class="fas fa-quote-left mr-2"></i>Quiero que mis alumnos sean el resultado y testimonio de todos
					mis
					años de estudio y la experiencia
					que he adquirido en este mundo financiero con sus propios resultados, que puedan ser referencia para
					otras personas que quieran formarse en mi academia. La cual trabajará para formar la academia de
					Forex más completa de Latinoamérica.<i class="fas fa-quote-right ml-2"></i></p>
			</div>

			<div class="columns">
				<div class="column">
					{{#image_src 'learn_1.png' '' '' 'slide-up'}}{{/image_src}}
				</div>
				<div class="column is-6 about-text-main" data-aos="zoom-out">
					<p class="has-text-secundary has-text-justified">
						A lo largo de estos años tomé a varios de ellos como referentes que me han motivado para ser un
						trader rentable. Durante el 2016 me formé también con tutores de Estados Unidos, Perú, Londres,
						Alemania y otros países de Europa, de quienes aprendí y tomé diversas cosas para enfocarme en
						mejorar mi técnica de análisis y pasé así de verlo como algo complicado a poder trabajarlo de
						forma simple y básica. En estos 6 años adquirí libros que me ayudaron a profundizar la teoría y
						poder realizar análisis más exactos dónde comencé también a trabajar mi psicología para que la
						volatilidad de los mercados no me afecte cuando no es necesario.<br>

						Aquellos libros que más me sirvieron los compartiré con ustedes mis alumnos dentro de la
						academia. Mi inversión para lograr ser el trader que soy fue de más de 5 cifras, pero valió cada
						dólar invertido. En ningún momento sentí temor de realizar ese esfuerzo para aprender esta
						increíble habilidad y siempre tuve la certeza de que me generaría grandes rendimientos
						monetarios; es por esto que les aconsejo: el miedo es aquello que nos lleva a salir de la zona
						de confort, síguelo, úsalo, ya que yo siempre quise mejorar mis ingresos todos los meses de
						manera que no dependiera de salarios o terceras personas y lo logré, es por ese miedo, ese
						cosquilleo que hoy puedo manejar un gran fondo de inversión con rentabilidades muy buenas.<br>

						Este 2022 he tomado la decisión de poder compartir mis habilidades y conocimientos, enseñarlos,
						mostrarles a otros mi experiencia y mis resultados a personas que quieran conocer y sumergirse
						en este mundo y con la máxima transparencia posible. Decidí mejorar la economía de muchas
						personas y sus familias a mediano y largo plazo, que quieran enfocarse en ser operadores de los
						mercados bursátiles siempre buscando la motivación necesaria para lograrlo. <br>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about-card">
	<p class="title-underline">¿Qué obtendrás?</p>

	<div class="columns mr-6 ml-6" data-aos="zoom-in">
		<div class="column ">
			<div class="card">
				<div class="card-content background-2">
					<div class="content">
						Análisis de preparación de mercado semanal e ideas comerciales
						<br>
						Nuestras propias alertas de análisis y operaciones
					</div>
				</div>
			</div>
		</div>
		<div class="column is-half-desktop">
			<div class="card">
				<div class="card-content background-2">
					<div class="content">
						Actualizaciones comerciales
						<br>
						Pdf educativos y biblioteca comercial descargable
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="columns mr-6 ml-6" data-aos="zoom-in">
		<div class="column">
			<div class="card">
				<div class="card-content background-2">
					<div class="content">
						Puestos educativos
						<br>
						Consejos psicológicos
					</div>
				</div>
			</div>
		</div>
		<div class="column is-half-desktop">
			<div class="card">
				<div class="card-content background-2">
					<div class="content">
						Videos educativos
						<br>
						Actualizaciones fundamentales
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="message-end">
		<p class="has-text-secundary mb-5">
			Espero que me acompañen en esta nueva etapa de mi largo y fructífero camino como trader profesional y que
			ustedes también puedan lograr sus objetivos de vida con este universo lleno de oportunidades.
		</p>

		<div class="buttons is-centered">
			<a class="button is-primary is-outlined btn-send" href="/learn">{{navbar.url.a3}}</a>
			<a class="button is-primary is-outlined btn-send" href="/courses">{{navbar.url.a2}}</a>
		</div>
	</div>

	{{> telegram }}

</section>
