<section id="about" class="section">
	<div class="content has-text-centered">
		<video id="aboutmp4" class="video-js vjs-default-skin" src="/assets/images/about.mp4" width="640" height="264">
		</video>
		{{#image_src 'about.jpeg' 'background'}}{{/image_src}}
		<div class="over"></div>
		<div class="page-title" data-aos="slide-right">
			<h1>
				Sobre nosotros
			</h1>
			<p>
				Somos una escuela de trading, enfocados en romper mitos demostrando a
				nuestros estudiantes cuentas reales generando más de un 30% a un 40% de
				rendimiento semanal.
				Conjuntamente gracias a las ganancias obtenidas dentro del comercio del mercado
				de las divisas, comerciamos VENTA y COMPRA de criptomonedas.
				Buscamos que cada uno de nuestros estudiantes que aprendan desde lo más
				básico hasta lo mas avanzado del trading y su psicología para que puedan tomar
				decisiones ganadoras asi teniendo su propia gestion de fondos.
			</p>
			<h1>
				Nuestra misión
			</h1>
			<p>
				Ayudar a millones de personas en todo latinoamerica a generar ingresos propios
				desde sus telefonos y con un computador. Hoy estamos en la nueva era y debemos
				demostar la manera de como generar ingresos residuales, para poder vivir un
				mejor estilo de vida y mejorar la economia de nuestras familias.
				Diversifique su portafolio de inversión con las Criptomonedas, donde le ayudamos
				hacer efectivas sus ganancias de sus diferentes portafolios de inversión con la
				Compra y Venta. Buscando posicionarnos como los numero uno en todo
				Latinoamérica.
			</p>
		</div>
		<script src="/node_modules/video.js/dist/video.min.js"></script>
		<script>
			AOS.init({
				duration: 1200,
			});
			videojs('aboutmp4', {
				controls: false,
				loop: true,
				autoplay: true,
				muted: true,
				preload: true,
				fluid: true
			});
		</script>
	</div>
</section>

<section id="about_card" class="section">
	<h2 class="title-underline">¿Qué obtendrás?</h2>

	<div class="columns">
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-right">
				<div class="card-content">
					<div class="content">
						Análisis de preparación de mercado semanal e ideas comerciales
						<br>
						Nuestras propias alertas de análisis y operaciones
					</div>
				</div>
			</div>
		</div>
		<div class="column"></div>
	</div>

	<div class="columns">
		<div class="column"></div>
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-up">
				<div class="card-content">
					<div class="content">
						Actualizaciones comerciales
						<br>
						Pdf educativos y biblioteca comercial descargable
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="columns">
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-right">
				<div class="card-content">
					<div class="content">
						Puestos educativos
						<br>
						Consejos psicológicos
					</div>
				</div>
			</div>
		</div>
		<div class="column"></div>
	</div>

	<div class="columns">
		<div class="column"></div>
		<div class="column is-half-desktop">
			<div class="card" data-aos="slide-up">
				<div class="card-content">
					<div class="content">
						Videos educativos
						<br>
						Actualizaciones fundamentales
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
