<section class='hero is-primary'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns is-centered">
				<div class="column is-5" data-aos="zoom-in">
					<p class="title has-text-white has-text-weight-bold mb-6">Compramos tus BTC</p>
					<p class="subtitle has-text-white has-text-weight-bold mb-6">Cambia tus BTC por Fiat, con las mejores tasas con nosotros.</p>
					<a class="button is-white has-text-primary"
						href="https://api.whatsapp.com/send?phone=50686788181" target="_blank">Contactame y
						negociemos</a>
				</div>
			</div>
		</div>
	</div>
</section>
