<footer class="site-footer">
	<div class="container">
		<div class="site-footer-inner has-top-divider">
			<div class="brand footer-brand">
				<img src="assets/images/logo-digitalgroup.png" alt="DigitalGroup">
			</div>
			<div class="footer-copyright">
				<ul class="footer-links list-reset has-text-right">
					<li>
						Lunes a Viernes. <br>
						Horario: 1pm a 5pm <br>
						Call Center 📞 +506 4070 0240
					</li>
				</ul>
				<ul class="footer-links list-reset">
					<li>
						<a href="/td_app/terms.pdf" target="_blank">
							&copy; 2021 TradingDigital, all rights reserved
						</a>
					</li>
				</ul>
				<ul class="footer-social-links list-reset">
					<li>
						<a href="https://www.instagram.com/tradingdigital.net_/" target="_blank">
							<span class="has-text-white">Instagram</span>
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/TrdingDigital.net/" target="_blank">
							<span class="has-text-white">Facebook</span>
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/tradingdigital_" target="_blank">
							<span class="has-text-white">Twitter</span>
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UCrDJ0OG4in0m8Cv0YVg3VyQ" target="_blank">
							<span class="has-text-white">YouTube</span>
							<i class="fab fa-youtube"></i>
						</a>
					</li>
				</ul>
				{{!-- Motion Backgrounds by: "#AAvfx" --}}
			</div>
		</div>
	</div>
</footer>
