<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta http-equiv='X-UA-Compatible' content='ie=edge' />
<meta name="description"
	content="Somos una escuela de trading, enfocados en romper mitos demostrando a nuestros estudiantes cuentas reales generando más de un 30% a un 40% de rendimiento semanal">
<meta name="keywords"
	content="tradingdigital, forex, forextrader, forextrading, forexlife, forexsignal, binaryoptions, tradingsignals, crypto, forexeducation, tradingforex, forexmentor, forextraning">
<meta name="author" content="Digitalgroup">
<title>
	{{title}}
</title>
<link rel='icon' href='/assets/images/favicon.ico' />
<link rel='preconnect' href='https://fonts.gstatic.com' />
<script type='text/javascript' src='/node_modules/bulma-accordion/dist/js/bulma-accordion.min.js'></script>
<script defer src='/node_modules/@fortawesome/js/brands.js'></script>
<script defer src='/node_modules/@fortawesome/js/solid.js'></script>
<script defer src='/node_modules/@fortawesome/js/fontawesome.js'></script>
<link rel="stylesheet" href="/node_modules/aos/dist/aos.css" />
<script src="/node_modules/aos/dist/aos.js"></script>
<script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
<link rel="stylesheet" href="/node_modules/bulma-carousel/dist/css/bulma-carousel.min.css">
<script src="/node_modules/bulma-carousel/dist/js/bulma-carousel.min.js"></script>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->

{{#style}}{{/style}}
{{#script}}{{/script}}

<script>
	!function (f, b, e, v, n, t, s) {
		if (f.fbq) return; n = f.fbq = function () {
			n.callMethod ?
				n.callMethod.apply(n, arguments) : n.queue.push(arguments)
		};
		if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
		n.queue = []; t = b.createElement(e); t.async = !0;
		t.src = v; s = b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t, s)
	}(window, document, 'script',
		'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '3159292894283176');
	fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=3159292894283176&ev=PageView&noscript=1" /></noscript>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-216468538-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-216468538-1');
</script>
