<section class='hero index-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column">
					{{#image_src 'index_1.jpeg' '' '' 'slide-right'}}{{/image_src}}
				</div>
				<div class="column is-4 index-text-main" data-aos="zoom-in">
					<p class=" has-text-primary is-uppercase has-text-weight-bold">Hola, soy Eric Villanueva</p>
					<p class="title has-text-secundary has-text-left">
						Esta es tu academia de <span class="has-text-primary">trading</span> y te enseñaré todo lo que
						necesitas para ser un profesional.
					</p>
					<div class="buttons">
						<a class="button is-primary is-outlined btn-send" href="/learn">{{navbar.url.a3}}</a>
						<a class="button is-primary is-outlined btn-send" href="/courses">{{navbar.url.a2}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		AOS.init({
			duration: 1200,
		});
	</script>
</section>

<section class='hero index-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column is-5 index-text-main" data-aos="slide-right">
					<p class="title has-text-primary has-text-weight-bold mb-6">TradingDigital para ti</p>
					<p class="subtitle has-text-secundary has-text-justified">
						¿Te gustaría aprender a generar dinero aunque no estes frente al computador? Con nosotros puedes
						lograrlo, ya que te enseñamos cómo puedes escoger las horas que más se adapten a tu realidad
						personal y financiera para operar el mercado sin tener que estar anclado frente a tu
						computador.<br>

						Con el trading puedes generar ganancias que van desde los $1000 semanales o mas según su capital
						de inversion. Todo
						bajo la guía de un profesional que te explique cómo funciona el Mercado, las trampas que debes
						evitar y más importante como evitar que el mercado se vaya en tu contra.
					</p>
					<div class="buttons">
						<a class="button is-primary is-outlined btn-send" href="/courses">¡Aprender ahora!</a>
						<a class="button is-primary is-outlined btn-send" href="/about">{{ navbar.url.a1 }}</a>
					</div>
				</div>
				<div class="column">
					{{#image_src 'index_learn.jpeg' 'index-learn' '' 'zoom-out'}}{{/image_src}}
				</div>
			</div>
		</div>
	</div>
</section>

{{> telegram }}

{{> trustbox }}

<section class='hero index-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<p class="title pb-4">
				Empresas con las que operamos dentro de los mercados
			</p>
			<div id="carousel" class="slider carousel pt-4 mt-6 is-hidden-mobile">
				<div class="item-1">
					<a class="has-text-secundary" href="https://www.forexfactory.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_1.jpeg' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							ForexFactory
						</div>
					</a>
				</div>
				<div class="item-2">
					<a class="has-text-secundary" href="https://www.myfxbook.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_2.png' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							myfxbook
						</div>
					</a>
				</div>
				<div class="item-3">
					<a class="has-text-secundary" href="https://es.tradingview.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_3.png' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							TradingView
						</div>
					</a>
				</div>
				<div class="item-4">
					<a class="has-text-secundary" href="https://www.investing.com/economic-calendar/" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_4.jpeg' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							Investing.com
						</div>
					</a>
				</div>
				<div class="item-5">
					<a class="has-text-secundary" href="https://fbs.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_5.jpeg' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							FBS - Online
							Forex
							Broker
						</div>
					</a>
				</div>
				<div class="item-6">
					<a class="has-text-secundary" href="https://www.icmarkets.com/global/en/" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_6.png' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							ICMarkets
						</div>
					</a>
				</div>
			</div>
			<div class="slider carousel pt-4 mt-6 is-hidden-desktop">
				<div class="item-1">
					<a class="has-text-secundary" href="https://www.forexfactory.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_1.jpeg' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							ForexFactory
						</div>
					</a>
				</div>
				<div class="item-2">
					<a class="has-text-secundary" href="https://www.myfxbook.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_2.png' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							myfxbook
						</div>
					</a>
				</div>
				<div class="item-3">
					<a class="has-text-secundary" href="https://es.tradingview.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_3.png' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							TradingView
						</div>
					</a>
				</div>
				<div class="item-4">
					<a class="has-text-secundary" href="https://www.investing.com/economic-calendar/" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_4.jpeg' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							Investing.com
						</div>
					</a>
				</div>
				<div class="item-5">
					<a class="has-text-secundary" href="https://fbs.com" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_5.jpeg' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							FBS - Online
							Forex
							Broker
						</div>
					</a>
				</div>
				<div class="item-6">
					<a class="has-text-secundary" href="https://www.icmarkets.com/global/en/" target="_blank">
						<figure class="carousel-image">
							{{#image_src 'sl_6.png' '' '' ''}}{{/image_src}}
						</figure>
						<div class="carousel-title">
							ICMarkets
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		bulmaCarousel.attach('#carousel', {
			slidesToScroll: 1,
			slidesToShow: 4,
			autoplay: true,
			autoplaySpeed: 8000,
			loop: true,
			infinite: true
		});
	</script>
</section>

<section class="section index-fqa">
	<div class="columns">
		<div class="column is-8 is-offset-2">
			<div class="content is-medium">
				<p class="title-underline has-text-secundary">Preguntas Frecuentes</p>
				<section class="accordions">
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Se puede vivir del Trading?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								Sí, así como se puede vivir de la medicina, de ser profesor, de ser arquitecto,
								ingeniero o
								abogado. Requieres las mismas armas: educación, entrenamiento, práctica, guía,
								disciplina,
								constancia y mucha determinación para lograr ser un gran profesional en su campo. El
								trading no es diferente. Tal vez muchas personas se han equivocado al pensar que al
								abrir una
								cuenta en un broker, fondear sus cuentas y comenzar a operar significa tener los
								resultados
								para vivir del trading en menos de lo que canta un gallo y ser millonarios. Muy
								equivocados. Es
								como pretender ser cirujano de un día para otro. Sí se puede vivir del trading, la
								pregunta es
								¿tienes lo que se necesita para hacerlo y lograrlo? Por eso aquí en tradingdigital.net
								puedes
								encontrar desde lo mas básico y lo mas avanzado para aprender analizar el mercado de
								forma correcta.
							</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Qué hago para comenzar el Trading?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								Lo primero y más importante es educarte sobre lo que es el trading y cómo hacerlo
								efectivamente. Comenzar conociendo la naturaleza del trading, de qué trata, cómo se
								gana,
								quiénes participan, cómo es el mercado que se ha elegido, etc, son algunas de las cosas
								que
								debes tener en cuenta. No llegues a la guerra con las manos vacías. Ve preparado. Somos
								teoría
								simple, nuestra filosofía es resumida y clara con los pies puestos sobre la tierra.
								Evitamos
								aquellos que promueven frases como “millonario rápido operando en Bolsa de Valores” “el
								trading es muy fácil”, etc. Hay que ser realistas y somos una escuela donde lo educamos
								desde el
								principio qué es trading, cómo funciona, cómo se gana, cómo se pierde y que no es tan
								fácil como
								muchos lo quieren hacer creer para lucrarse.
							</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Cuando empezare a ver resultados?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								Cuando te hayas arraigado fuertemente a un sistema de trading simple, cumpliendo fiel y
								disciplinadamente tu plan de trading y gestionando adecuadamente el riesgo-beneficio.
								Paradójicamente, también empezarás a ver los resultados cuando te desapegues de los
								resultados y te enfoques en el proceso. El proceso de hacer trading que implica la
								observación y
								reflexión de nuestro desempeño, las emociones experimentadas, los errores más frecuentes
								y su
								aniquilación, el análisis de la bitácora y la corrección de las cosas que sí puedes
								cambiar y
								mejorar. Empezarás a ver resultados, cuando además de todas estas cosas, continúes
								trabajando
								en tu mente sin rendirte.
							</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Con cuanto dinero puedo comenzar hacer trading y con cual bróker
								debo de operar?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								Depende de cada broker y del instrumento que utilices. Todo esta depende de que
								busques operar Forex Mercado de Divisas o Stocks Mercado de acciones.
								En acciones los montos ronda de mínimo $2000 en cuenta real y en Forex puedes iniciar
								con un monto mínimo de $2000 para ver los mejores resultados semana a semana con las
								operaciones.
								El bróker a elegir todo despende de tú país y las facilidades que dispongan para ellos.
								Pero nosotros te vamos a guiar en el curso avanzado de Trading.</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Cuanto dinero puedo generar al mes haciendo Trading?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								El que te permita el tamaño de tu cuenta y la cantidad que vas a invertir por
								operación, siempre y cuando tengas las capacidades requeridas para hacer dinero
								consistentemente.</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Como alcanzar la consistencia?.</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								La consistencia se consigue teniendo comportamientos y acciones consistentes. Es
								decir, si tengo un trading plan que me indica cómo luce una oportunidad, dónde entrar,
								dónde ubicar el stop, cómo gestionar y cómo manejar el riesgo, y hago una y otra vez lo
								que me indica ese plan de forma consistente entonces tendré resultados consistentes.
								Pero si cambio el plan cada que tengo un stop o cada que tengo una racha negativa
								entonces entraré en un bucle sin fin en el que como trader emocional e impaciente
								modificaré o cambiaré una y otra vez el plan y los resultados serán diversos. Esto es lo
								que le sucede al 95% que pierde dinero haciendo trading, no hay un plan claro, definido
								y preciso qué seguir consistentemente, disciplinadamente y con mucha confianza. </div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Cual es la mejor estrategia o sistema de trading?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								La que sea simple de comprender que hasta se la puedas explicar a un niño y la
								entienda. Aléjate de aquellos sistemas que requieren más de 5 indicadores diferentes,
								que aleje tu atención de la acción del precio llenando tu pantalla de garabatos y no
								tenga
								un adecuado manejo de riesgo-beneficio. La mejor estrategia o sistema es simple, clara,
								probada (funcional) y sobretodo se ajusta a tu personalidad y tipo de trader. El sistema
								de
								un trader tal vez no sea el sistema que te convenga, por esa razón debes definir qué
								tipo
								de trader eres, si eres scalper, intraday o swing y por supuesto tu tolerancia al riesgo
								(conservador o arriesgado). Estos son solo algunas cosas a considerar al momento de
								elegir un sistema de trading.</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>He perdido gran parte de mi capital, ¿Qué hago?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								Si has perdido gran parte de tu capital es porque no tienes un plan de trading claro,
								definido y probado, no hay comportamientos consistentes que lleven a resultados
								consistentes, las emociones te dominan y además no hay un buen manejo de
								riesgo-beneficio. En esa oración está la respuesta a esta pregunta. Lo que debes hacer
								es
								simple: haz un plan de trading claro con una estrategia clara y simple, pruébala en
								demo,
								maneja el riesgo-beneficio adecuadamente, confía 100% en tu plan, trabaja en tus
								emociones siendo consciente de ellas antes, durante y después de las operaciones,
								registra, evalúa. Si los resultados son positivos vuelve a cuenta real y repite el
								proceso
								enfocando tu atención a las emociones que experimentas y a tus reacciones.</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>¿Que vamos aprender en el curso y cuales monedas vamos a operar en
								el mercado de las divisas?.</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								Va encontrar 2 cursos: Básico y Avanzado; donde va aprender
								hacer análisis técnicos de manera profesional y tomar las mejores decisiones
								que lo lleven a ganar, también nos enfocaremos en 7 monedas que son en
								las que se ha enfocado nuestro analista comercial y aprenderemos a operar
								solo en el mercado de New York.
							</div>
						</div>
					</article>
					<article class="accordion" data-aos="zoom-in">
						<div class="accordion-header toggle">
							<p>No tengo tiempo para hacer trading de forma regular, ¿qué opciones
								tengo?</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								Puedes optar por hacer swing trading. El swing te permite abrir una operación hoy y
								cerrarla varios días después. Necesitarás un sistema de trading que se adapte a este
								estilo, tener tu stop definido para que proteja tu capital mientras no estés y revisar
								las
								operaciones periódicamente. Hay brokers que tienen aplicaciones móviles que te
								permiten monitorear las operaciones desde tu celular. Si la situación es que no puedes
								hacer trading en la mañana, puedes optar por hacer un trading plan para las horas de la
								tarde y funcionará igual.</div>
						</div>
					</article>
				</section>
				<a class="button is-primary is-outlined btn-send mt-6" href="/courses">Comienza a aprender</a>
			</div>
		</div>
	</div>
</section>
