<script>
	AOS.init({
		duration: 1200,
	});
</script>

<section class='hero' id="digital_trust">
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns is-centered">
				<div class="column">
					<a href="https://www.digitaltrustonline.net" target="_blank">
						{{#image_src 'digital_trust.png' 'digital' '' 'zoom-in'}}{{/image_src}}
					</a>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-6" data-aos="zoom-in">
					<p class="title has-text-primary has-text-weight-bold mb-6">
						Invierte con nosotros en DigitalTrust
					</p>
					<p class="subtitle has-text-secundary has-text-justified">
						Manejamos su capital y le generamos ganacias de un 5% a un 7% mensual. Pregunte por nuestras
						opciones.
					</p>
					<a class="button is-primary is-outlined btn-send" href="/td_app/signup?digital_trust=true"
						target="_blank">Suscribirse</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="why" class='hero'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns is-centered">
				<div class="column" data-aos="zoom-in">
					<p class="title has-text-primary is-uppercase has-text-weight-bold">¿Cómo invertir?</p>
					<p class="has-text-secundary has-text-centered mb-5">
						Ingresa a nuestra plataforma y suscribete en nuestra plataforma.
					</p>
					<div class="columns gap-4">
						<div class="column">
							{{#image_src 'invest1.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
						<div class="column">
							{{#image_src 'invest2.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
					</div>
					<p class="has-text-secundary has-text-centered mt-5 mb-5">
						Completa tus datos y registrate
					</p>
					<div class="columns gap-4">
						<div class="column">
							{{#image_src 'invest3.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
						<div class="column">
							{{#image_src 'invest4.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
					</div>
					<p class="has-text-secundary has-text-centered mt-5 mb-5">
						Automáticamente será redirigido a DigitalTrust, con su nueva cuenta, y estará listo para elegir
						su suscripción y su cantidad a invertir.
					</p>
					<div class="columns gap-4">
						<div class="column">
							{{#image_src 'invest5.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
						<div class="column">
							{{#image_src 'invest6.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
					</div>
					<p class="has-text-secundary has-text-centered mt-5 mb-5">
						Procese el pago por medio de CoinBase y comience a recibir ganancias. ¡Felicidades!
					</p>
					<div class="columns gap-4">
						<div class="column">
							{{#image_src 'invest7.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
						<div class="column">
							{{#image_src 'invest8.png' '' '' 'zoom-in'}}{{/image_src}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
