<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column">
					{{#image_src 'learn_1.png' 'learn_1' '' 'slide-right'}}{{/image_src}}
				</div>
				<div class="column learn-text-main">
					<h1 class="title has-text-primary">¿Qué vas a aprender con estos cursos?</h1>
					<p class="has-text-primary has-text-justified">
						Somos dos operadores de acción del precio con una experiencia combinada de años de arduo
						trabajo. Los últimos años, decidimos enfocarnos en el conocimiento profundo de la oferta,
						demanda y la psicología de la acción del precio.

						Con estos cursos encontrará un enfoque muy diferente, simple pero profundo, sobre el
						mercado de divisas. Aprenderá desde los conceptos básicos hasta nuestros sistemas comerciales
						avanzados.
					</p>
				</div>
			</div>
			<script>
				AOS.init({
					duration: 1200,
				});
			</script>
		</div>
	</div>
</section>

<section class='hero secundary'>
	<div class='hero-body'>
		<div class='container'>
			<div class="learn-text-example">
				<h1 class="title has-text-black">Resultados de algunas de nuestras operaciones reales.</h1>
				<div class="learn-examples buttons">
					{{#image_src 'example-1.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
					{{#image_src 'example-2.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
					{{#image_src 'example-3.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
					{{#image_src 'example-4.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero secundary'>
	<div class='hero-body'>
		<div class='container'>
			<div class="learn-text-list">
				<h1 class="title has-text-black">Te enseñaremos</h1>
				<ul>
					<li>
						Estrategias avanzadas de acción de precios
					</li>
					<li>
						Sistemas de comercio institucional
					</li>
					<li>
						Conocimiento profundo de correlación
					</li>
					<li>
						Estrategias de manejo de dinero
					</li>
					<li>
						Patrones de manipulación de los creadores de mercado
					</li>
					<li>
						Macroeconomía en el mercado de divisas
					</li>
					<li>
						Cómo construir un plan comercial sólido
					</li>
					<li>
						Cómo dominar la psicología del trading
					</li>
					<li>
						Cómo conseguir ejecuciones impecables
					</li>
					<li>
						Cómo administrar las operaciones y dejar que se desarrollen las operaciones.
					</li>
					<li>
						Y mucho más...!! ¡Asegúrate de revisar la sinopsis a continuación!
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
