<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column">
					{{#image_src 'learn_1.png' 'learn_1' '' 'slide-right'}}{{/image_src}}
				</div>
				<div class="column learn-text-main">
					<h1 class="title has-text-primary">¿Qué vas a aprender con estos cursos?</h1>
					<p class="has-text-primary has-text-justified">
						Un solo operador con gran conocimiento en la estrategia de acción del precio con una experiencia
						combinada de arduo trabajo. Estos últimos años, tome la decision de enfocarme en el conocimiento
						profundo de la oferta y demanda y la psicología de la acción del precio.
					</p>
					<p class="has-text-primary has-text-justified">
						Con estos cursos encontrará un enfoque muy diferente, simple pero profundo, sobre el mercado de
						divisas. Aprenderá desde los conceptos básicos hasta nuestros sistemas comerciales avanzados.
					</p>
				</div>
			</div>
			<script>
				AOS.init({
					duration: 1200,
				});
			</script>
		</div>
	</div>
</section>

<section class='hero'>
	<div class='hero-body secundary'>
		<div class='container'>
			<div class="learn-text-example">
				<h1 class="title has-text-black">Resultados de algunas de nuestras operaciones reales.</h1>
				<div class="learn-examples buttons">
					{{#image_src 'example-1.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
					{{#image_src 'example-2.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
					{{#image_src 'example-3.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
					{{#image_src 'example-4.jpeg' 'learn-example' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero'>
	<div class='hero-body secundary'>
		<div class='container'>
			<div class="learn-text-list">
				<h1 class="title has-text-black">Aquí tienes una lista de lo que te enseñaremos</h1>
				<ul>
					<li>
						Estrategias avanzadas de acción de precios
					</li>
					<li>
						Sistemas de comercio institucional
					</li>
					<li>
						Conocimiento profundo de correlación
					</li>
					<li>
						Estrategias de manejo de dinero
					</li>
					<li>
						Patrones de manipulación de los creadores de mercado
					</li>
					<li>
						Macroeconomía en el mercado de divisas
					</li>
					<li>
						Cómo construir un plan comercial sólido
					</li>
					<li>
						Cómo dominar la psicología del trading
					</li>
					<li>
						Cómo conseguir ejecuciones impecables
					</li>
					<li>
						Cómo administrar las operaciones y dejar que se desarrollen las operaciones.
					</li>
					<li>
						Y mucho más...!! ¡Asegúrate de revisar la sinopsis a continuación!
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column learn-text-main">
					<h1 class="title has-text-primary">
						¿Qué es un broker?
					</h1>
					<p class="has-text-primary has-text-justified">
						Un broker es una entidad o empresa financiera que ejecuta órdenes de compra y venta; y cobra
						comisiones por este servicio. Un broker o corredor de bolsa cuenta con licencia para la compra y
						venta de acciones en los mercados bursátiles. Los traders necesitan de ellos para operar en
						estos mercados. Y nosotros especificamente utilizaremos FBS (ONLINE FOREX BROKER), seria bueno
						que vayas creando una cuenta para estar listo para lo que viene.

					</p>
					<a class="button is-primary is-outlined btn-send" href="https://fbs.com/?ppf=6087463"
						target="_blank">Crear cuenta en FBS</a>
				</div>
				<div class="column">
					{{#image_src 'broker.jpeg' '' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column">
					{{#image_src 'metatrader4.png' '' '' 'slide-right'}}{{/image_src}}
				</div>
				<div class="column learn-text-main">
					<h1 class="title has-text-primary">
						¿Qué es MetaTrader 4?
					</h1>
					<p class="has-text-primary has-text-justified">
						MetaTrader 4 es una plataforma comercial para fórex, que sirve igualmente para analizar los
						mercados financieros y usar asesores expertos. Trading móvil, Las Señales Comerciales y el
						Mercado, todo esto es MetaTrader 4, y todo esto le será necesario para trabajar en el mercado
						fórex. Es una de nuestras herramientas mas utilizadas. Te recomienda descargarla y
						familiarizarte un poco con la plataforma.
					</p>
					<a class="button is-primary is-outlined btn-send" href="https://www.metatrader4.com/es"
						target="_blank">Ir a MetaTrader 4</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<h3 class="subtitle has-text-primary">
				Puedes revisar también este calendario de eventos económicos
			</h3>
			<iframe
				src="https://sslecal2.investing.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=week&timeZone=8&lang=1"
				width="650" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"
				class="calendar-economic"></iframe>
			<div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;"><span
					style="font-size: 11px;color: #333333;text-decoration: none;">Real Time Economic Calendar provided
					by <a href="https://www.investing.com/" rel="nofollow" target="_blank"
						style="font-size: 11px;color: #06529D; font-weight: bold;"
						class="underline_link">Investing.com</a>.</span></div>
		</div>
	</div>
</section>

<section class='hero'>
	<div class='hero-body secundary'>
		<div class='container'>
			<div class="learn-text-list">
				<h1 class="title has-text-black title-subscribe">
					Suscribete a nuestros boletines, comentarios del mercado y noticias
					sobre nuestros cursos
				</h1>
				<div class="columns subscribe">
					<div class="column is-8">
						<div class="field">
							<div class="control has-floating-label"><input class="input is-medium with-floating-label"
									id="suscribe" placeholder=" " type="text" required="" autocomplete="off"> <label
									class="label is-floating-label has-text-gray" for="suscribe">e-mail</label>
							</div>
						</div>
					</div>
					<div class="column btn-content">
						<button class="button is-white is-outlined btn-send" onclick="suscribeForm()">
							Suscribirse
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
