<section class='hero learn-main mt-5 mb-5'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column">
					<video id="learnmp4" class="video-js vjs-default-skin" playsinline>
						<source src="/assets/images/learn.mp4" type="video/mp4" />
						<source src="/assets/images/learn.webm" type="video/webm">
					</video>
				</div>
				<div class="column is-4 learn-text-main">
					<h1 class="title has-text-primary">¿Qué vas a aprender con estos cursos?</h1>
					<p class="has-text-secundary has-text-justified">
						Un solo operador con gran conocimiento en la estrategia de acción del precio con una experiencia
						combinada de arduo trabajo. Estos últimos años, tome la decision de enfocarme en el conocimiento
						profundo de la oferta y demanda y la psicología de la acción del precio.
					</p>
					<p class="has-text-secundary has-text-justified">
						Con estos cursos encontrará un enfoque muy diferente, simple pero profundo, sobre el mercado de
						divisas. Aprenderá desde los conceptos básicos hasta nuestros sistemas comerciales avanzados.
					</p>
					<a class="button is-primary is-outlined btn-send mt-6" href="/courses">Comienza a aprender</a>
				</div>
			</div>
			<script src="/node_modules/video.js/dist/video.min.js"></script>
			<script>
				AOS.init({
					duration: 1200,
				});
				const video = videojs('learnmp4', {
					controls: true,
					loop: true,
					autoplay: true,
					playsinline: true,
					muted: true,
					preload: true,
					fluid: true
				})
				if (!/^((?!chrome|android).)*safari/i.test(navigator.userAgent)) {
					video.muted(false);
				}
			</script>
		</div>
	</div>
</section>

<section class='hero background'>
	<div class='hero-body secundary'>
		<div class='container'>
			<div class="learn-text-example">
				<h1 class="title has-text-black">Resultados de algunas de nuestras operaciones reales.</h1>
				<div class="learn-examples buttons">
					{{#image_src 'example-1.jpeg' 'learn-example' '' 'zoom-in'}}{{/image_src}}
					{{#image_src 'example-2.jpeg' 'learn-example' '' 'zoom-in'}}{{/image_src}}
					{{#image_src 'example-3.jpeg' 'learn-example' '' 'zoom-in'}}{{/image_src}}
					{{#image_src 'example-4.jpeg' 'learn-example' '' 'zoom-in'}}{{/image_src}}
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column">
					{{#image_src 'learn_2.jpg' '' '' 'slide-right'}}{{/image_src}}
				</div>
				<div class="column learn-text-main">
					<h1 class="title has-text-primary">
						Nuestros Clientes
					</h1>
					<p class="has-text-secundary has-text-justified">
						Estudiantes de secundaria, universitarios, trabajadores independientes, empresarios. Personas
						que busquen mejorar sus ingresos mensuales o tener un ingreso extra, quienes quieran aprender a
						generar un interés compuesto, gestionando sus cuentas de forma personal sin intermediarios.
						<br>
						<br>
						Quienes quieran diversificar su portafolio de inversión buscando algo seguro, donde puedan
						aprender Forex desde cero con un profesor que pueda evacuar todas sus dudas, consultas durante
						su tiempo de aprendizaje y que tenga disponibilidad para ellos 24/7.
						<br>
						<br>
						No tenemos edad de preferencia para enseñar, pueden ser jóvenes con interés en la materia de 20
						años a personas mayores profesionales o emprendedores independientes de 50 años a más.
						<br>
						<br>
						El curso de la Academia tiene una duración de 2 años, donde trabajaremos en este tiempo para que
						el alumno pueda generar confianza en tomar decisiones de forma independiente y así generar
						excelentes resultados.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<h1 class="title has-text-primary">Aquí tienes una lista de lo que te enseñaremos en nuestros dos ebooks y a
				lo largo de las clases</h1>
			<br>
			<br>
			<br>
			<div class="columns">
				<div class="column">
					<div class="learn-text-list">
						<h3 class="title is-size-4 has-text-primary">Ebook #1: La Biblia de las candelas.</h3>
						<ul>
							<li>
								Historia de las candelas. ¿Qué es una Candela? Patrones de las candelas.
							</li>
							<li>
								Patrón de candela envolvente. El patrón de candelabro Doji. El patrón doji de libélula.
							</li>
							<li>
								El patrón Doji de lápida. Patrón de la estrella de la tarde. El Martillo.
							</li>
							<li>
								Patrón de la estrella de la mañana. El patrón Harami.
							</li>
							<li>
								La Estructura del Mercado. Cómo operar en mercados de tendencia. Niveles de soporte y
								resistencia.
							</li>
							<li>
								Cómo dibujar líneas de tendencia. Rangos del mercado. Marcos de tiempo y análisis de
								arriba hacia abajo.
							</li>
							<li>
								Estrategias y Tácticas comerciales. Las estrategias del patrón de velas de la barra de
								pines.
							</li>
							<li>
								Tácticas Comerciales. Pin Bar de comercio con confluencia. Pin Bar ejemplos en el
								comercio.
							</li>
							<li>
								El patrón de velas de barra envolvente. Cómo negociar la señal de acción del precio de
								la barra envolvente.
							</li>
							<li>
								El patrón de vela de la barra interior. La psicología detrás de la formación del patrón
								de barra interior.
							</li>
							<li>
								Cómo negociar la ruptura de la barra interior con soporte y resistencia. Cómo negociar
								falsas rupturas del patrón de barra interior.
							</li>
						</ul>
						<a class="button is-primary is-outlined btn-send mt-6" href="/courses">Inscribirse al curso</a>
					</div>
				</div>
				<div class="column">
					{{#image_src 'learn_3.jpg' '' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>
			<div class="columns">
				<div class="column">
					{{#image_src 'learn_4.jpg' '' '' 'slide-right'}}{{/image_src}}
				</div>
				<div class="column">
					<div class="learn-text-list">
						<h3 class="title is-size-4 has-text-primary">Ebook #2: Acción del Precio
							Contenido.</h3>
						<ul>
							<li>
								Swing Trading, Comercio dia / Escalpado, Ciclos.
							</li>
							<li>
								¿Cómo identificar un cambio de tendencia?
							</li>
							<li>
								¿Cómo los creadores del mercado mueven el precio?
							</li>
							<li>
								La real utilidad de los medios móviles en precio/acción.
							</li>
							<li>
								¿Cómo comerciar con el efecto imán?
							</li>
							<li>
								¿Cuándo debemos dibujar líneas de tendencia y en qué marco de tiempo?
							</li>
							<li>
								¿Cómo identificar los patrones de continuación?
							</li>
							<li>
								Estrategia de Gestión de Riesgos. ¿Cómo calcular el riesgo y gestionarlo adecuadamente?
							</li>
							<li>
								Colocaciones de estructura de Stop Loss. Cómo y cuándo mover el stop loss to breakeven.
							</li>
							<li>
								Oferta y Demanda institucional.
							</li>
							<li>
								Seguimiento de los Mercados Financieros.
							</li>
						</ul>
						<a class="button is-primary is-outlined btn-send mt-6" href="/courses">¡Aprender ahora!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column learn-text-main">
					<h1 class="title has-text-primary">
						¿Qué es un broker?
					</h1>
					<p class="has-text-secundary has-text-justified">
						Un broker es una entidad o empresa financiera que ejecuta órdenes de compra y venta; y cobra
						comisiones por este servicio. Un broker o corredor de bolsa cuenta con licencia para la compra y
						venta de acciones en los mercados bursátiles. Los traders necesitan de ellos para operar en
						estos mercados. Y nosotros especificamente utilizaremos FBS (ONLINE FOREX BROKER), seria bueno
						que vayas creando una cuenta para estar listo para lo que viene.

					</p>
					<a class="button is-primary is-outlined btn-send" href="https://fbs.com/?ppf=6087463"
						target="_blank">Crear cuenta en FBS</a>
				</div>
				<div class="column">
					{{#image_src 'broker.jpeg' '' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">
				<div class="column">
					{{#image_src 'metatrader4.png' '' '' 'slide-right'}}{{/image_src}}
				</div>
				<div class="column learn-text-main">
					<h1 class="title has-text-primary">
						¿Qué es MetaTrader?
					</h1>
					<p class="has-text-secundary has-text-justified">
						MetaTrader es una plataforma comercial para fórex, que sirve igualmente para analizar los
						mercados financieros y usar asesores expertos. Trading móvil, Las Señales Comerciales y el
						Mercado, todo esto es MetaTrader, y todo esto le será necesario para trabajar en el mercado
						fórex. Es una de nuestras herramientas mas utilizadas. Te recomienda descargarla y
						familiarizarte un poco con la plataforma. En nuestros cursos usamos Metatrader 4 y Metatrader 5.
					</p>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<div class="download">
						<p class="has-text-secundary">Descarga MetaTrader 4 en tu ordenador</p>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/web/metaquotes.software.corp/mt4/MetaTrader4.dmg?utm_source=www.metatrader4.com&utm_campaign=download.mt4.macos"
							target="_blank">
							<i class="fab fa-apple"></i>
						</a>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/web/metaquotes.software.corp/mt4/mt4setup.exe?utm_source=www.metatrader4.com&utm_campaign=download"
							target="_blank">
							<i class="fab fa-windows"></i>
						</a>
						<a class="is-size-3"
							href="https://www.mql5.com/es/articles/1358?utm_source=www.metatrader4.com&utm_campaign=download.mt4.linux"
							target="_blank">
							<i class="fab fa-linux"></i>
						</a>
					</div>
					<div class="download-m">
						<p class="has-text-secundary">o en tu smartphone</p>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/mobile/mt4/ios?utm_source=www.metatrader4.com&utm_campaign=download"
							target="_blank">
							<i class="fab fa-apple"></i>
						</a>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/mobile/mt4/android?utm_source=www.metatrader4.com&utm_campaign=download"
							target="_blank">
							<i class="fab fa-android"></i>
						</a>
					</div>
					<a class="button is-primary is-outlined btn-send" href="https://www.metatrader4.com/es"
						target="_blank">Ir a MetaTrader 4</a>
				</div>
				<div class="column">
					<div class="download">
						<p class="has-text-secundary">Descarga MetaTrader 5 en tu ordenador</p>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/web/metaquotes.software.corp/mt5/MetaTrader5.dmg?utm_source=www.metatrader5.com&utm_campaign=download.mt5.macos"
							target="_blank">
							<i class="fab fa-apple"></i>
						</a>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/web/metaquotes.software.corp/mt5/mt5setup.exe?utm_source=www.metatrader5.com&utm_campaign=download"
							target="_blank">
							<i class="fab fa-windows"></i>
						</a>
						<a class="is-size-3"
							href="https://www.mql5.com/es/articles/625?utm_source=www.metatrader5.com&utm_campaign=download.mt5.linux"
							target="_blank">
							<i class="fab fa-linux"></i>
						</a>
					</div>
					<div class="download-m">
						<p class="has-text-secundary">o en tu smartphone</p>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/mobile/mt5/ios?utm_source=www.metatrader5.com&utm_campaign=install.metaquotes"
							target="_blank">
							<i class="fab fa-apple"></i>
						</a>
						<a class="is-size-3"
							href="https://download.mql5.com/cdn/mobile/mt5/android?utm_source=www.metatrader5.com&utm_campaign=install.metaquotes"
							target="_blank">
							<i class="fab fa-android"></i>
						</a>
					</div>
					<a class="button is-primary is-outlined btn-send" href="https://www.metatrader5.com/es"
						target="_blank">Ir a MetaTrader 5</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<h3 class="subtitle has-text-primary">
				Puedes revisar también este calendario de eventos económicos
			</h3>
			<iframe
				src="https://sslecal2.investing.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=week&timeZone=8&lang=1"
				width="650" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"
				class="calendar-economic"></iframe>
			<div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;"><span
					style="font-size: 11px;color: #333333;text-decoration: none;">Real Time Economic Calendar provided
					by <a href="https://www.investing.com/" rel="nofollow" target="_blank"
						style="font-size: 11px;color: #06529D; font-weight: bold;"
						class="underline_link">Investing.com</a>.</span></div>
		</div>
	</div>
</section>
