<section class='hero'>
	<div class='hero-body'>
		<div class='container secundary'>
			<h1 class="title-underline">Curso de Educación Forex.</h1>
			<p class="has-text-left">
				Inicie el primer paso para ser un full time TRADER
			</p>
			<br>
			<p class="has-text-left">
				El trading es una habilidad que cualquiera puede desarrollar con la dedicación y el estudio adecuado, en
				TradingDigital.net enseñamos una estrategia puntual para que logres obtener toda la información de
				manera más rápida y precisa para un excelente resultado que llevara su inversión a otro nivel con el
				trading.
			</p>
			<br>
			<br>
			<br>
			<div class="pricing-table" data-aos="slide-right">
				<div class="pricing-plan is-primary">
					<div class="plan-header">Curso Básico</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>65</span>/Mes</div>
					<div class="plan-items">
						<div class="plan-item">Ebook</div>
						<div class="plan-item">Comunidad de Telegram</div>
						<div class="plan-item">Infografías educativas</div>
						<div class="plan-item">1 señal semanal*</div>
						<div class="plan-item">-</div>
						<div class="plan-item">-</div>
						<div class="plan-item">-</div>
						<div class="plan-item">-</div>
					</div>
					<div class="plan-footer">
						<button class="button is-fullwidth has-text-white" onclick="notReady()">Suscribirse</button>
					</div>
				</div>

				<div class="pricing-plan is-primary">
					<div class="plan-header">Curso Intermedio</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>469</span>/Semestre</div>
					<div class="plan-items">
						<div class="plan-item">Ebook</div>
						<div class="plan-item">Comunidad de Telegram</div>
						<div class="plan-item">Infografías educativas</div>
						<div class="plan-item">2 señales semanales*</div>
						<div class="plan-item">Comunidad de Facebook</div>
						<div class="plan-item">Acceso a blog privado</div>
						<div class="plan-item">1 hora de clases virtuales diarias</div>
						<div class="plan-item">-</div>
					</div>
					<div class="plan-footer">
						<button class="button is-fullwidth has-text-white" onclick="notReady()">Suscribirse</button>
					</div>
				</div>

				<div class="pricing-plan is-primary">
					<div class="plan-header">Curso Avanzado</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>927</span>/Año</div>
					<div class="plan-items">
						<div class="plan-item">Ebook</div>
						<div class="plan-item">Comunidad de Telegram</div>
						<div class="plan-item">Infografías educativas</div>
						<div class="plan-item">6 o más señales semanales*</div>
						<div class="plan-item">Comunidad de Facebook</div>
						<div class="plan-item">Acceso a blog privado</div>
						<div class="plan-item">1 hora de clases virtuales diarias</div>
						<div class="plan-item">1 hora de clases presenciales semanales (solo Costa Rica)</div>
					</div>
					<div class="plan-footer">
						<button class="button is-fullwidth has-text-white" onclick="notReady()">Suscribirse</button>
					</div>
				</div>
			</div>
			<script>
				AOS.init({
					duration: 1200,
				});
			</script>
			<div class="pricing-table" data-aos="slide-up">
				<div class="pricing-plan hidden">
					<div class="plan-header">-</div>
					<div class="plan-price">-</div>
					<div class="plan-items">
						<div class="plan-item">------------------------</div>
					</div>
				</div>

				<div class="pricing-plan is-primary promo">
					<div class="plan-header">Promoción</div>
					<div class="plan-price">
						<span class="plan-price-amount">
							Primeros 100 inscritos con el 24% de descuento
						</span>
					</div>
					<div class="plan-items">
						<div class="plan-item">En los cursos Intermedio o Avanzado</div>
						<div class="plan-item">Curso Intermedio: $<span class="plan-price-amount">351
							</span></div>
						<div class="plan-item">Curso Avanzado: $<span class="plan-price-amount">695
							</span></div>
						<div class="plan-item">Promoción valida hasta el 15 de enero del 2022</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
