<section class='hero'>
	<div class='hero-body'>
		<div class='container secundary'>
			<h1 class="title-underline">Curso de Educación Forex.</h1>
			<p class="has-text-left">
				Inicie el primer paso para ser un full time TRADER
			</p>
			<br>
			<p class="has-text-left">
				El trading es una habilidad que cualquiera puede desarrollar con la dedicación y el estudio adecuado, en
				TradingDigital.net enseñamos una estrategia puntual para que logres obtener toda la información de
				manera más rápida y precisa para un excelente resultado que llevara su inversión a otro nivel con el
				trading.
			</p>
			<br>
			<br>
			<br>
			<div class="pricing-table">
				<div class="pricing-plan is-primary">
					<div class="plan-header">Curso Básico</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>42</span>/Mes</div>
					<div class="plan-items">
						<div class="plan-item">Ebook</div>
						<div class="plan-item">Comunidad de Telegram</div>
						<div class="plan-item">Infografías educativas</div>
						<div class="plan-item">1 señal semanal*</div>
						<div class="plan-item">-</div>
						<div class="plan-item">-</div>
						<div class="plan-item">-</div>
					</div>
					<div class="plan-footer">
						<button class="button is-fullwidth has-text-white">Suscribirse</button>
					</div>
				</div>

				<div class="pricing-plan is-primary">
					<div class="plan-header">Curso Intermedio</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>75</span>/Mes</div>
					<div class="plan-items">
						<div class="plan-item">Ebook</div>
						<div class="plan-item">Comunidad de Telegram</div>
						<div class="plan-item">Infografías educativas</div>
						<div class="plan-item">2 señales semanales*</div>
						<div class="plan-item">Comunidad de Facebook</div>
						<div class="plan-item">Acceso a blog privado</div>
						<div class="plan-item">-</div>
					</div>
					<div class="plan-footer">
						<button class="button is-fullwidth has-text-white">Suscribirse</button>
					</div>
				</div>

				<div class="pricing-plan is-primary">
					<div class="plan-header">Curso Avanzado</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>107</span>/Mes</div>
					<div class="plan-items">
						<div class="plan-item">Ebook</div>
						<div class="plan-item">Comunidad de Telegram</div>
						<div class="plan-item">Infografías educativas</div>
						<div class="plan-item">6 o más señales semanales*</div>
						<div class="plan-item">Comunidad de Facebook</div>
						<div class="plan-item">Acceso a blog privado</div>
						<div class="plan-item">1 hora de clases diarias</div>
					</div>
					<div class="plan-footer">
						<button class="button is-fullwidth has-text-white">Suscribirse</button>
						<div class="plan-item"></div>
						<div class="plan-item">O 6 meses por <span
								class="has-text-primary is-size-4">$497</span>
						</div>
						<div class="plan-item"></div>
						<button class="button has-text-white">¡Mejor esto!</button>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="columns">
				<div class="column is-3"></div>
				<div class="column pricing-table">
					<div class="pricing-plan is-primary">
						<div class="plan-header">Consigue solo el Ebook</div>
						<div class="plan-price"><span class="plan-price-amount">
								<span class="plan-price-currency">$</span>27,60</span></div>
						<div class="plan-footer">
							<button class="button is-fullwidth has-text-white">Comprar ahora</button>
						</div>
					</div>
				</div>
				<div class="column is-3"></div>
			</div>
		</div>
	</div>
</section>
