<script>
	AOS.init({
		duration: 1200,
	});
</script>

<section class='hero'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns is-centered">
				<div class="column is-7" data-aos="slide-up">
					<p class="title has-text-primary has-text-weight-bold mb-6">
						¿Ya tienes experiencia en trading?
					</p>
					<p class="is-size-3 has-text-secundary mb-6">
						Unete a nuestra Social Traiding
					</p>
					<a class="button is-primary is-outlined btn-send" href="/social_trading" target="_blank">Leer
						mas</a>
				</div>
			</div>
		</div>
	</div>
</section>
