<section class='hero index-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns">

				<div class="column is-4 index-text-main" data-aos="zoom-in">
					<p class="title has-text-primary has-text-weight-bold mb-6">
						¿Ya tienes experiencia en trading?
					</p>
					<p class="is-size-3 has-text-secundary mb-6">
						Unete a nuestra Social Traiding
					</p>
					<a class="button is-primary is-outlined btn-send" href="/td_app/signup?social_trading=true"
						target="_blank">Ingresar</a>
					<a class="button is-primary btn-send" href="#more">Beneficios</a>
				</div>
				<div class="column">
					{{#image_src 'social_trading.png' '' '' 'slide-up'}}{{/image_src}}
				</div>
			</div>
		</div>
	</div>
	<script>
		AOS.init({
			duration: 1200,
		});
	</script>
</section>

<section class='hero learn-main' id="more">
	<div class='hero-body'>
		<div class='container secundary'>
			<p class="title has-text-primary">Beneficios del Social Trading</p>
			<p class="subtitle">Hay muchas ventajas en el social trading, y como tal se ha ganado su lugar entre los
				traders:</p>
			<br>
			<div class="learn-text-list">
				<ul>
					<li data-aos="zoom-in">
						Permite que los traders novatos se familiaricen con los mercados financieros y
						ganen confianza en sus movimientos dentro de la plataforma a través del
						seguimiento de inversores experimentados.
					</li>
					<li data-aos="zoom-in">
						Permite, además, que los traders con experiencia participen en el mercado, incluso
						cuando están ocupados y no pueden invertir tiempo para investigar el mercado. El
						copy trading puede ser empleado en diversos instrumentos. Esto incluye divisas
						como el euro, criptomonedas como bitcoin , acciones como las de Vodafone,
						materias primas y mucho más.
					</li>
					<li data-aos="zoom-in">
						Crea una comunidad de traders, tanto principiantes como experimentados, que
						intercambian ideas y estrategias de inversión y mejoran sus operaciones en
						conjunto, a la vez que aprenden y desarrollan sus estrategias.
					</li>
				</ul>
				<a class="button is-primary is-outlined btn-send mt-6"
					href="/td_app/signup?social_trading=true">¡Ingresa ahora!</a>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main' id="more">
	<div class='hero-body'>
		<div class='container secundary'>
			<p class="title has-text-secundary mt-0">Comienza TU PRUEBA de 60 días GRATIS SIN RIESGO Y AHORA.</p>
			<div class="pricing-table" data-aos="zoom-in">
				<div class="pricing-plan price-1">
					<div class="plan-header">Plan Básico</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>97</span></div>
					<div class="plan-items">
						<div class="plan-item">90 días de acceso</div>
						<div class="plan-item">Mas de 3500 pips mensuales</div>
						<div class="plan-item">Recibes de 1 a 3 operaciones semanales MT4 o MT5</div>
						<div class="plan-item">Incluye Stop Loss y Take Profit</div>
						<div class="plan-item">Instrucciones de configuración</div>
					</div>
					<div class="plan-footer">
						<a class="button is-fullwidth has-text-primary"
							href="/td_app/signup?social_trading=true">Suscribirse</a>
					</div>
				</div>

				<div class="pricing-plan is-primary price-2">
					<div class="plan-header">Plan Pro</div>
					<div class="plan-price"><span class="plan-price-amount">
							<span class="plan-price-currency">$</span>247</span></div>
					<div class="plan-items">
						<div class="plan-item">90 días de acceso</div>
						<div class="plan-item">Mas de 3500 pips mensuales</div>
						<div class="plan-item">Recibes de 2 a 5 operaciones semanales MT4 o MT5</div>
						<div class="plan-item">Incluye Stop Loss y Take Profit</div>
						<div class="plan-item">Instrucciones de configuración</div>
						<div class="plan-item">Soporte 24/7</div>
					</div>
					<div class="plan-footer">
						<a class="button is-fullwidth has-text-white"
							href="/td_app/signup?social_trading=true">Suscribirse</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='hero learn-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<p class="title">¿Qué puedes esperar de Nuestro Servicio?</p>
			<br>
			<div class="learn-text-list">
				<ul>
					<li data-aos="zoom-in">
						Solo tratas con un trader real y honesto, no con avatares ni robots.
					</li>
					<li data-aos="zoom-in">
						Genera hasta 3000 pips mensuales.
					</li>
					<li data-aos="zoom-in">
						Proporciono operaciones rentables de divisas a todos mis clientes y
						estudiantes.
					</li>
					<li data-aos="zoom-in">
						100% honestidad y trasparencia. ¡No nos escondemos cuando perdemos o
						ganamos!
					</li>
					<li data-aos="zoom-in">
						Trabajare arduamente para brindarle operaciones que sean rentables.
					</li>
					<li data-aos="zoom-in">
						Recomendación confiable para obtener un Broker.
					</li>
					<li data-aos="zoom-in">
						Único servicio de SOCIAL TRADING con GARANTIA en todo Latinoamérica.
					</li>
					<li data-aos="zoom-in">
						Único servicio que regala 60 DIAS de señales para que conozca nuestra
						trasparencia.
					</li>
				</ul>
				<a class="button is-primary is-outlined btn-send mt-6"
					href="/td_app/signup?social_trading=true">¡Ingresa ahora!</a>
			</div>
		</div>
	</div>
</section>
