<section class='hero'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="columns is-centered">
				<div class="column is-5" data-aos="zoom-in">
					<p class="title has-text-primary has-text-weight-bold mb-6">TradingDigital esta en Telegram</p>
					<a class="button is-primary is-outlined btn-send" href="https://t.me/tradingdigitaloficial"
						target="_blank">Suscribete al canal gratuito</a>
				</div>
			</div>
		</div>
	</div>
</section>
