<section class='hero index-main'>
	<div class='hero-body'>
		<div class='container secundary'>
			<div class="trustpilot-widget" data-locale="es-ES" data-template-id="5419b6a8b0d04a076446a9ad"
				data-businessunit-id="6228dc6c718ff509cb9fe179" data-style-height="24px" data-style-width="100%"
				data-theme="light">
				<a href="https://es.trustpilot.com/review/tradingdigital.net" target="_blank"
					rel="noopener">Trustpilot</a>
			</div>
		</div>
	</div>
</section>
