.about-main {
	background: $black;

	.hero-body {
		@include touch {
			padding: 3rem 2rem;
		}
	}

	.teacher {
		opacity: 0.75 !important;
		height: 40rem;

		@include mobile {
			height: 30rem;
		}
	}

	.message {
		background: #c9d3d1;
		color: $secundary;
		width: 50vw;
		margin: 5rem auto;
		padding: 2rem;
		border-radius: 1rem;

		@include mobile {
			width: 80vw;
		}
	}

	.about-text-main {
		margin: auto;

		p {
			@include tablet {
				margin-top: 5rem;
			}
		}
	}
}

.about-card {
	@include tablet {
		margin-top: 5rem;
	}

	.card {
		border-radius: 15px;
	}

	.message-end {
		width: 50vw;
		margin: 5rem auto;

		@include mobile {
			width: 80vw;
		}
	}
}
