.pricing-table {
	margin-top: 5rem;
}

.pricing-plan  {
	border-radius: 15px;
}

.plan-item {
	@include tablet {
		max-width: calc(33vw - 10rem);
	}
	overflow-wrap: break-word;
	margin: auto;
	background: none !important;
}

.hidden {
	background: none !important;
	border: none !important;

	.plan-header,
	.plan-price,
	.plan-price-currency,
	.plan-item {
		background: none !important;
		color: transparent !important;
		border: none !important;
	}
}
