.learn-main {
	background: $black;

	.hero-body {
		@include touch {
			padding: 3rem 2rem;
		}
	}

	.learn-text-main {
		margin: auto;

		p {
			margin-top: 5rem;
		}
	}

	.download {
		margin: auto;
		margin-top: 2rem;

		p {
			margin-top: 2rem;
		}
	}

	.download-m {
		margin: auto;
		margin-top: 1rem;

		p {
			margin-top: 2rem;
		}
	}

	.btn-send {
		margin: auto;
		margin-top: 1rem;
		background-color: $main-dark-two;
	}
}

.learn-examples {
	gap: 8rem;
	margin-top: 8rem;
	align-items: center;
	justify-content: center;

	@include touch {
		gap: 2rem;
	}

	.learn-example {
		max-height: 30rem;
	}
}

.learn-text-list {
	.title-subscribe,
	.subscribe {
		width: 40vw;
		margin: auto;
		margin-bottom: 2rem;
		text-align: left;

		@include touch {
			width: 80vw;
		}

		.btn-send {
			margin: auto;
			margin-top: 0.5rem;

			&:hover {
				background-color: transparent;
			}
		}
	}

	ul {
		counter-reset: index;
		padding: 0;
		max-width: 40rem;
		margin: auto;

		@include touch {
			max-width: 80vw;
		}
	}

	li {
		counter-increment: index;
		display: flex;
		align-items: flex-start;
		text-align: left;
		padding: 12px 0;
		box-sizing: border-box;
	}

	li::before {
		content: counters(index, '.', decimal-leading-zero);
		font-size: 1.5rem;
		text-align: right;
		font-weight: bold;
		min-width: 50px;
		padding-right: 12px;
		font-variant-numeric: tabular-nums;
		align-self: flex-start;
		background-image: linear-gradient(to bottom, $dark, $primary);
		background-attachment: fixed;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	/* Element separation */
	li + li {
		border-top: 1px solid $black;
	}
}

.calendar-economic {
	@include mobile {
		width: 80vw;
	}
}
