nav.navbar {
	background-color: $box;
	padding: 1.5rem 9rem 0 9rem !important;

	@include mobile {
		padding: 1rem 0.5rem 0 0.5rem !important;
	}

	.title-page {
		font-size: 24px !important;
		margin: 0 !important;
		padding: 0.5rem 0.75rem;
	}

	.navbar-burger {
		color: $black;
	}

	&.secundary {
		padding: 1.5rem 9rem !important;

		@include mobile {
			padding: 0.5rem !important;
		}

		.navbar-menu.is-active {
			@include mobile {
				padding-bottom: 2rem;
			}
		}
	}
}

a.navbar-item {
	color: #1c6b62;
	margin-top: 0.5rem;
	font-size: 16px !important;
	font-weight: lighter;

	@include mobile {
		text-align: left;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	&.title {
		font-weight: 600;
	}

	&:hover {
		color: $white;
		background-color: $box-hover;
		font-size: 2rem;
	}
}

.navbar-menu.is-active {
	@include mobile {
		padding-bottom: 6rem;
		background-color: transparent !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;

		a.navbar-item {
			color: #1c6b62;

			&:hover,
			&:focus {
				background-color: rgba(255, 255, 255, 0.15);
				font-weight: bold;
			}
		}
	}
}
