.pricing-table {
	margin-top: 5rem;
}

.pricing-plan  {
	border-radius: 15px;
}

.plan-item {
	@include tablet {
		max-width: calc(33vw - 10rem);
	}
	overflow-wrap: break-word;
	margin: auto;
	background: none !important;
}

.hidden {
	background: none !important;
	border: none !important;

	.plan-header,
	.plan-price,
	.plan-price-currency,
	.plan-item {
		background: none !important;
		color: transparent !important;
		border: none !important;
	}
}

.promo {
	margin-top: 5rem;

	.title-promo {
		color: $black;
	}

	.description-promo {
		color: $black;
		font-size: 1rem;
	}

	.count-content {
		justify-content: center;

		.count-users {
			.countDown__digit_new_placeholder,
			.countDown__digit_last_placeholder_inner {
				color: #333;
			}

			.countDown__interval_basic_cont_description {
				font-size: 1rem;
			}
		}
	}

	.countDown__cont {
		@include mobile {
			font-size: 8px !important;

			.countDown__interval_basic_cont_description {
				font-size: 2em;
			}
		}
	}
}
