<!DOCTYPE html>
<html lang="en">

<head>
	{{> head }}
</head>

<body>
	{{> index_navbar }}
	{{> index_body }}

	<div class="points_1">
		{{> points_svg }}
	</div>

	<div class="points_2">
		{{> points_svg }}
	</div>

	<div class="points_3">
		{{> points_svg }}
	</div>
</body>

</html>
