// Import Bulma and custom styles
@import '~bulma/bulma.sass';

html,
body {
	overflow: hidden;
	background-color: $white;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: $grey;
	box-shadow: inset 0 0 6px $grey;

	&:window-inactive {
		background: $grey;
	}
}

#app {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $black !important;

	table td:not([align]),
	table th:not([align]) {
		text-align: left;
	}

	a.dropdown-item {
		text-align: left;
	}
}

.title,
.subtitle {
	font-family: 'Poppins';
	font-style: normal !important;
	font-weight: normal !important;
}

.icon {
	margin-right: 0.3rem;
}

.loading-overlay {
	z-index: 10;
}

@import '~pretty-checkbox/src/pretty-checkbox.scss';
