.admin {
	.logo {
		display: flex !important;
		align-items: center;
		justify-content: center;
		margin-left: 2rem;
	}

	.card-main {
		width: 90vw;
		height: 80vh;
		overflow-y: hidden;

		@include mobile {
			width: 100vw;
			height: 100vh;
			border-radius: 0;
		}

		@include tablet-only {
			width: 90vw;
			height: 95vh;
		}

		.card-header-title {
			font-size: 1.5rem;
			color: $primary;
		}

		.card-content {
			@include touch {
				overflow-y: auto;
				height: calc(95vh - 64px - 1rem);
			}
		}
	}
}
