.dropdown {
	&.is-right .dropdown-content {
		left: auto;
		right: 0;
	}

	.dropdown-content {
		left: 0;
		min-width: 12rem;
		padding-top: 4px;
		position: absolute;
		top: 100%;
		z-index: 20;

		.dropdown-item {
			padding-top: 0.5rem;
			padding-left: 0.5rem;
			padding-bottom: 0.5rem;
			color: $grey-dark;
			justify-content: start;
		}

		.content {
			padding: 1rem;
		}
	}
}
