.multiselect {
	box-shadow: none !important;

	.multiselect-tag {
		background: $primary !important;
	}

	.multiselect-options {
		margin: 0 !important;
		align-items: inherit !important;
		flex-wrap: nowrap !important;

		.multiselect-option {
			&::before {
				content: '' !important;
			}

			&.is-selected,
			&.is-pointed {
				color: $white !important;
			}

			&.is-pointed {
				background: $main-light-one !important;
			}

			&.is-selected {
				background: $primary !important;
			}
		}
	}
}
